button {
    outline: none;
    background: none;
    border: 2px solid $black;
    letter-spacing: 2px;
    font-size: 0.9rem;
    padding: 15px 45px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: $black;
    color: $white;
    border-color: $black;
}