@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Merri";
  src: url(../assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: Merri;
}

a {
  all: unset;
}

body {
  background: url(../assets/images/bg.jpg) fixed center/cover;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(10, 10, 10);
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  pointer-events: none;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

button {
  outline: none;
  background: none;
  border: 2px solid rgb(10, 10, 10);
  letter-spacing: 2px;
  font-size: 0.9rem;
  padding: 15px 45px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  border-color: rgb(10, 10, 10);
}

header {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgb(240, 240, 240);
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
header h1 {
  max-width: 620px;
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 20px auto;
}
@media screen and (max-width: 650px) {
  header h1 {
    font-size: 2.1rem;
    max-width: 375px;
  }
}
header p {
  font-style: italic;
  margin: 20px auto;
  max-width: 650px;
}
@media screen and (max-width: 650px) {
  header p {
    max-width: 375px;
  }
}
header i {
  margin: 40px auto;
  padding: 17px 20px;
  font-size: 1.2rem;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 300px;
}

main {
  width: 80%;
  margin: auto;
}

nav {
  background: rgba(240, 240, 240, 0.5);
  color: rgb(240, 240, 240);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav .nav-left {
  height: 100%;
  width: 70%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(240, 240, 240);
}
nav .nav-left ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
nav .nav-left li {
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  nav .nav-left li {
    font-size: 0.5rem;
  }
}
nav .nav-left li:first-child {
  background: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
}
nav .nav-left li:hover {
  background: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
}
nav .nav-left li a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .nav-right {
  width: 33%;
  margin-right: 10px;
}
@media screen and (max-width: 650px) {
  nav .nav-right {
    display: none;
  }
}
nav .nav-right ul {
  font-size: 1.1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
nav .nav-right li {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}
nav .nav-right li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main-top {
  background: rgb(240, 240, 240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.main-top :first-child {
  margin: 80px auto;
  font-size: 1.2rem;
}
.main-top p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
  position: relative;
}
@media screen and (max-width: 900px) {
  .main-top p {
    font-size: 0.8rem;
    max-width: 400px;
  }
}
@media screen and (max-width: 680px) {
  .main-top p {
    font-size: 0.8rem;
    max-width: 300px;
  }
}
.main-top h2 {
  font-size: 3rem;
  letter-spacing: 5px;
  max-width: 600px;
}
@media screen and (max-width: 900px) {
  .main-top h2 {
    font-size: 2rem;
    max-width: 400px;
  }
}
@media screen and (max-width: 680px) {
  .main-top h2 {
    font-size: 1.5rem;
    max-width: 300px;
  }
}
.main-top .img-jump {
  height: 50vh;
  width: 80%;
  background: url(../../assets/images/pic01.jpg) center/cover;
}
@media screen and (max-width: 900px) {
  .main-top .img-jump {
    height: 30vh;
  }
}
@media screen and (max-width: 680px) {
  .main-top .img-jump {
    height: 20vh;
  }
}
.main-top button {
  margin: 50px auto;
}

.main-bot {
  background: rgb(240, 240, 240);
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 680px) {
  .main-bot {
    grid-template-columns: 1fr;
  }
}
.main-bot .date {
  margin: 50px auto 10px;
  font-size: 0.8rem;
}
.main-bot h3 {
  letter-spacing: 2px;
  max-width: 180px;
  margin: 10px auto 20px;
}
.main-bot img {
  max-width: 80%;
}
.main-bot p {
  max-width: 80%;
  margin: 30px auto;
  text-align: start;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.main-bot button {
  margin-bottom: 60px;
}

.main-bot-left {
  border-top: solid 1px rgb(197, 197, 197);
  border-right: solid 1px rgb(197, 197, 197);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-bot-right {
  border-top: solid 1px rgb(197, 197, 197);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer {
  max-width: 80vw;
  margin: 40px auto 80px;
  background: rgb(240, 240, 240);
  color: rgb(87, 87, 87);
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 750px) {
  footer {
    grid-template-columns: 1fr;
  }
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-right: 1px solid rgb(197, 197, 197);
}
.footer-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 50px 0;
}
.footer-left form label {
  margin: 20px 0;
  font-size: 0.6rem;
  letter-spacing: 1px;
}
.footer-left form input:not(:last-child),
.footer-left form textarea {
  background: none;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
  outline: none;
  min-height: 35px;
  resize: none;
}
.footer-left form :last-child {
  margin-top: 30px;
  color: rgb(87, 87, 87);
  font-size: 0.7rem;
  letter-spacing: 1px;
  border: 1px solid rgb(87, 87, 87);
  width: 40%;
  max-width: 170px;
  min-width: 122px;
  height: 40px;
  padding: 10px 0;
}

.footer-right {
  height: 100%;
}
.footer-right .list1 {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-right h4 {
  padding-left: 20px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 750px) {
  .footer-right h4 {
    padding: 20px 0 20px 20px;
  }
}
.footer-right p {
  font-size: 0.8rem;
  max-width: 80%;
}
.footer-right .li1 {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.footer-right .li2 {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-right .li2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
}
@media screen and (max-width: 750px) {
  .footer-right .li2 ul {
    padding: 20px 0 20px 20px;
  }
}
.footer-right .li2 ul li {
  min-width: 32px;
  padding: 5px 7px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 300px;
  text-align: center;
  color: rgb(10, 10, 10);
}/*# sourceMappingURL=index.css.map */