header {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;

    @keyframes headerAnim {
        to {
            transform: translate(0);
            opacity: 1;
        }
    }

    h1 {
        max-width: 620px;
        font-size: 4rem;
        letter-spacing: 5px;
        margin: 20px auto;
    }

    @media screen and (max-width : 650px) {
        h1 {
            font-size: 2.1rem;
            max-width: 375px;
        }
 
    
    }
    p {
        font-style: italic;
        margin: 20px auto;
        max-width: 650px;
    }

    @media screen and (max-width : 650px) {
       p {
           max-width: 375px;
        }
    }
  

    i {
        margin: 40px auto;
        padding: 17px 20px;
        font-size: 1.2rem;
        border: 2px solid $white;
        border-radius: 300px;
    }
    
}