main {
    width: 80%;
    margin: auto;
}

nav {
    background: $color2;
    color: $white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    
    ul {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .nav-left {
        height: 100%;
        width: 70%;
        font-size: 0.8rem;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    
        &:hover li:not(:hover) {
            background: none;
            color: $white;
        }
        
    
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    
        li {
            height: 100%;
            padding: 0 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;

            @media screen and (max-width : 500px) {
                font-size: 0.5rem;
            }
    
            &:first-child {
                background: $white;
                color: $black;
            }

            &:hover {
                background: $white;
                color: $black;
            }
    
            a {
                height: 100%;
                width :100%;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .nav-right {
        width: 33%;
        margin-right: 10px;

        @media screen and (max-width : 650px) {
            display: none;
        }

        ul{
            font-size: 1.1rem;
            justify-content: space-around;
            align-items: center;
            margin-right: 10px;   
        }

        li {
            transition: 0.15s;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.main-top {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    :first-child {
        margin: 80px auto;
        font-size: 1.2rem;
    }

    p {
        max-width: 600px;
        margin: 40px auto;
        font-size: 1rem;
        font-style: italic;
        line-height: 2rem ;
        position: relative;

        @media screen and (max-width : 900px) {
            font-size: 0.8rem;
            max-width: 400px;
        }

        @media screen and (max-width : 680px){
            font-size: 0.8rem;
            max-width: 300px
        }
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 5px;
        max-width: 600px;

        @media screen and (max-width : 900px) {
            font-size: 2rem;
            max-width: 400px;
        }

        @media screen and (max-width : 680px){
            font-size: 1.5rem;
            max-width: 300px
        }

    }


    .img-jump {
        height: 50vh;
        width: 80%;
        background: url(../../assets/images/pic01.jpg) center/cover;

        @media screen and (max-width : 900px) {
             height: 30vh;
        }

        @media screen and (max-width : 680px){
            height: 20vh;

        }
    }

    button {
        margin: 50px auto;
    }
}

.main-bot {
    background: $white;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;


    @media screen and (max-width : 680px){
        grid-template-columns: 1fr;
  
    }
    
    .date {
        margin: 50px auto 10px;
        font-size: 0.8rem;
    }
    h3 {
        letter-spacing: 2px;
        max-width: 180px;
        margin: 10px auto 20px;
    }
    img {
        max-width: 80%;
    }

    p {
        max-width: 80%;
        margin: 30px auto;
        text-align: start;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    button {
        margin-bottom: 60px;
    }
}

.main-bot-left {
    border-top: solid 1px $color1;
    border-right: solid 1px $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-bot-right {
    border-top: solid 1px $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}