@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Allura";
    src: url(../assets/fonts/Allura-Regular.ttf);
}

$font1: Roboto, sans-serif;
$font2: Poppins, sans-serif;
$font3: Allura, serif;

$white1: rgb(240, 240, 240);
$black1: rgb(10, 10, 10);
$color1: rgb(32, 31, 31);
$color2: rgb(165, 128, 8);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
    list-style: none;
}

body {
    background: $color1;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font2;
}

span {
    font-family: $font3;
    color: $color2;
}
