@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../assets/fonts/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style: none;
}

body {
  background: rgb(22, 21, 19);
}

h1,
h2,
h3,
h4 {
  font-family: Poppins, sans-serif;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

span {
  font-family: Allura, serif;
  color: rgb(167, 123, 28);
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
}

header {
  background: url(../assets/img/bg-slider-06.jpg) center/cover;
  height: 70vh;
  color: rgb(240, 240, 240);
}
header nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 25px;
  font-size: 0.8rem;
}
header nav ul span {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(240, 240, 240);
}
@media screen and (max-width: 730px) {
  header .tabs {
    display: none;
  }
}
header .main-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 190px;
}
header .main-header span {
  font-size: 3.2rem;
  max-height: 37px;
}
header .main-header h1 {
  font-size: 4rem;
  letter-spacing: 7px;
}
@media screen and (max-width: 440px) {
  header .main-header h1 {
    font-size: 3rem;
  }
}
header .main-header img {
  max-height: 35px;
  margin: 20px 0 50px;
}
header .main-header h2 {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 5px;
}

.header-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.header-footer .hf-left-container {
  background: rgb(240, 240, 240);
  padding: 15px;
}
.header-footer .hf-left-container .hf-left {
  padding: 30px 20px;
  border: 1px dashed rgb(167, 123, 28);
}
.header-footer .hf-left-container .hf-left span {
  font-size: 2rem;
}
.header-footer .hf-left-container .hf-left img {
  margin: 15px auto;
  max-height: 80px;
  border-radius: 300px;
}
.header-footer .hf-left-container .hf-left h3 {
  font-weight: 500;
}
.header-footer .hf-left-container .hf-left h4 {
  color: rgb(160, 160, 160);
  font-weight: 200;
  font-size: 0.8rem;
}
.header-footer .hf-right {
  background: url(../assets/img/store-01.jpg) center/cover;
}
@media screen and (max-width: 730px) {
  .header-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-footer .hf-right {
    background: none;
  }
}

.main-top {
  position: relative;
  min-height: 85vh;
}
@media screen and (max-width: 850px) {
  .main-top {
    min-height: 140vh;
  }
}
.main-top .bg1 {
  position: absolute;
  background: url(../assets/img/bg-menu-01.jpg) center/cover no-repeat;
  width: 100%;
  height: 60%;
  bottom: 0;
  z-index: -1;
}
.main-top .mt-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 50px auto 20px;
  color: rgb(240, 240, 240);
  max-width: 50%;
}
@media screen and (max-width: 1600px) {
  .main-top .mt-top {
    max-width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .main-top .mt-top {
    max-width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .main-top .mt-top {
    max-width: 80%;
  }
}
.main-top .mt-top span {
  font-size: 2rem;
  margin: 20px auto;
}
.main-top .mt-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-top .mt-top ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(160, 160, 160);
}
.main-top .mt-main {
  background: rgb(240, 240, 240);
  margin: 20px auto;
  border-top: 5px solid rgb(167, 123, 28);
  z-index: 50;
  max-width: 50%;
}
@media screen and (max-width: 1600px) {
  .main-top .mt-main {
    max-width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .main-top .mt-main {
    max-width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .main-top .mt-main {
    max-width: 80%;
  }
}
.main-top .mt-main .mt-main-container {
  padding: 30px 5px;
}
.main-top .mt-main .mt-main-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 850px) {
  .main-top .mt-main .mt-main-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-top .mt-main .mt-main-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  padding: 30px 0;
  border-bottom: 1px dashed rgb(160, 160, 160);
}
@media screen and (max-width: 550px) {
  .main-top .mt-main .mt-main-container ul li {
    padding: 15px 0;
  }
}
.main-top .mt-main .mt-main-container ul li .iandd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-top .mt-main .mt-main-container ul li .iandd div {
  padding: 10px;
  font-size: 1rem;
}
@media screen and (max-width: 550px) {
  .main-top .mt-main .mt-main-container ul li .iandd div {
    font-size: 0.9rem;
  }
}
.main-top .mt-main .mt-main-container ul li .iandd div h4 {
  font-weight: 300;
}
.main-top .mt-main .mt-main-container ul li .iandd img {
  max-height: 100px;
  border-radius: 300px;
}
@media screen and (max-width: 550px) {
  .main-top .mt-main .mt-main-container ul li .iandd img {
    max-height: 80px;
  }
}
.main-top .mt-main .mt-main-container ul li .price {
  color: rgb(167, 123, 28);
  font-size: 1rem;
  font-weight: bold;
}

.main-mid .mm-top {
  max-width: 70%;
  margin: 75px auto;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (max-width: 1425px) {
  .main-mid .mm-top {
    max-width: 75%;
  }
}
@media screen and (max-width: 1330px) {
  .main-mid .mm-top {
    max-width: 80%;
  }
}
@media screen and (max-width: 1255px) {
  .main-mid .mm-top {
    max-width: 85%;
  }
}
@media screen and (max-width: 1180px) {
  .main-mid .mm-top {
    grid-template-columns: 34% 66%;
  }
}
@media screen and (max-width: 850px) {
  .main-mid .mm-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 85%;
  }
}
.main-mid .mm-top .mmt-left {
  background: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
}
.main-mid .mm-top .mmt-left .mmtl-container {
  margin: 20px;
  border: 1px dashed rgb(160, 160, 160);
  padding: 20px;
}
.main-mid .mm-top .mmt-left .mmtl-container span {
  font-size: 2rem;
}
.main-mid .mm-top .mmt-left .mmtl-container img {
  margin: 30px auto;
}
.main-mid .mm-top .mmt-left .mmtl-container h4 {
  color: rgb(167, 123, 28);
}
.main-mid .mm-top .mmt-left .mmtl-container p {
  font-size: 0.8rem;
  margin: 15px auto 30px;
}
.main-mid .mm-top .mmt-right {
  background: rgb(240, 240, 240);
}
.main-mid .mm-top .mmt-right .mmtr-container {
  height: 100%;
  padding: 50px;
}
.main-mid .mm-top .mmt-right .mmtr-container span {
  font-size: 2rem;
}
.main-mid .mm-top .mmt-right .mmtr-container img {
  margin: 20px auto;
}
.main-mid .mm-top .mmt-right .mmtr-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ppl dat clk" "nam phn mal" "sub sub sub";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .main-mid .mm-top .mmt-right .mmtr-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-mid .mm-top .mmt-right .mmtr-container form .infos {
  width: 80%;
  height: 60px;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border-bottom: 1px solid rgb(160, 160, 160);
}
@media screen and (max-width: 850px) {
  .main-mid .mm-top .mmt-right .mmtr-container form .infos {
    width: 70%;
  }
}
@media screen and (max-width: 510px) {
  .main-mid .mm-top .mmt-right .mmtr-container form .infos {
    width: 90%;
  }
}
.main-mid .mm-top .mmt-right .mmtr-container #submit {
  grid-area: sub;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: rgb(22, 21, 19);
  color: rgb(240, 240, 240);
  font-weight: bold;
  letter-spacing: 4px;
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .main-mid .mm-top .mmt-right .mmtr-container #submit {
    margin-top: 40px;
  }
}
.main-mid .mm-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: rgb(240, 240, 240);
}
.main-mid .mm-mid span {
  font-size: 2rem;
}
.main-mid .mm-mid span:not(:first-child) {
  margin: 30px auto;
}
.main-mid .mm-mid h2 {
  font-size: 2rem;
}
@media screen and (max-width: 850px) {
  .main-mid .mm-mid {
    display: none;
  }
}
.main-mid .mm-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 100px;
  width: 70vw;
  max-width: 1000px;
}
@media screen and (max-width: 850px) {
  .main-mid .mm-bot {
    display: none;
  }
}
.main-mid .mm-bot .mmb-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.main-mid .mm-bot .mmb-left .mmbl-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 15px 0;
}
.main-mid .mm-bot .mmb-left .mmbl-top .mmblt-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  width: 230px;
  background: url(../assets/img/event-01.jpg) center/cover;
}
.main-mid .mm-bot .mmb-left .mmbl-top .mmblt-left .square {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: rgb(22, 21, 19);
  color: rgb(240, 240, 240);
}
.main-mid .mm-bot .mmb-left .mmbl-top .mmblt-left .square::after {
  content: "08 July";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.main-mid .mm-bot .mmb-left .mmbl-top .mmblt-right {
  background: rgb(240, 240, 240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 72%;
  padding: 10px;
}
.main-mid .mm-bot .mmb-left .mmbl-top .mmblt-right p {
  color: rgb(160, 160, 160);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.main-mid .mm-bot .mmb-left .mmbl-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}
.main-mid .mm-bot .mmb-left .mmbl-bot .mmblb-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  width: 230px;
  background: url(../assets/img/event-02.jpg) center/cover;
}
.main-mid .mm-bot .mmb-left .mmbl-bot .mmblb-left .square {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: rgb(22, 21, 19);
  color: rgb(240, 240, 240);
}
.main-mid .mm-bot .mmb-left .mmbl-bot .mmblb-left .square::after {
  content: "08 July";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.main-mid .mm-bot .mmb-left .mmbl-bot .mmblb-right {
  background: rgb(240, 240, 240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  width: 72%;
}
.main-mid .mm-bot .mmb-left .mmbl-bot .mmblb-right p {
  color: rgb(160, 160, 160);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.main-mid .mm-bot .mmb-right {
  width: 40%;
  background: url(../assets/img/event-03.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-mid .mm-bot .mmb-right .mmbr-container {
  position: relative;
  background: rgb(240, 240, 240);
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}
.main-mid .mm-bot .mmb-right .mmbr-container .square {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: rgb(22, 21, 19);
  color: rgb(240, 240, 240);
}
.main-mid .mm-bot .mmb-right .mmbr-container .square::after {
  content: "08 July";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.main-mid .mm-bot .mmb-right .mmbr-container p {
  color: rgb(160, 160, 160);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0 20px 30px;
}
.main-mid .mmb-bot {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}
.main-mid .mmb-bot .bg2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  background: url(../assets/img/gmap.jpg) center/cover no-repeat;
}
@media screen and (max-width: 520px) {
  .main-mid .mmb-bot .bg2 {
    height: 50%;
  }
}
@media screen and (max-width: 430px) {
  .main-mid .mmb-bot .bg2 {
    height: 30%;
  }
}
.main-mid .mmb-bot .mmbb-container {
  position: relative;
  height: 50%;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background: rgb(240, 240, 240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px;
}
@media screen and (max-width: 715px) {
  .main-mid .mmb-bot .mmbb-container {
    height: 60%;
  }
}
@media screen and (max-width: 520px) {
  .main-mid .mmb-bot .mmbb-container {
    height: 70%;
  }
}
@media screen and (max-width: 430px) {
  .main-mid .mmb-bot .mmbb-container {
    height: 80%;
  }
}
.main-mid .mmb-bot .mmbb-container img {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60px;
  width: 60px;
  border-radius: 300px;
}
.main-mid .mmb-bot .mmbb-container p {
  line-height: 30px;
}
.main-mid .mmb-bot .mmbb-container h2 {
  margin: 20px 0 10px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.main-mid .mmb-bot .mmbb-container h4 {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  color: rgb(167, 123, 28);
}

footer {
  background: url(../assets/img/bg-footer.jpg) center/cover no-repeat;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  footer {
    background: rgb(22, 21, 19);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  footer .footer-left {
    display: none;
  }
}
footer .footer-left .fl-container {
  margin: 0 60px 0 100px;
}
footer .footer-left .fl-container span {
  font-size: 2.5rem;
}
footer .footer-left .fl-container p {
  color: rgb(160, 160, 160);
  font-size: 1rem;
  line-height: 30px;
}
footer .footer-right {
  color: rgb(240, 240, 240);
}
@media screen and (max-width: 850px) {
  footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    height: 90%;
    width: 80%;
    max-height: none;
  }
}
footer .footer-right .fr-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}
@media screen and (max-width: 850px) {
  footer .footer-right .fr-container {
    margin-left: 20px;
  }
}
@media screen and (max-width: 850px) {
  footer .footer-right .fr-container {
    width: 100%;
  }
}
footer .footer-right .fr-container .frc-top h3 {
  font-weight: 400;
}
footer .footer-right .fr-container .frc-top input {
  background: none;
  color: rgb(160, 160, 160);
  outline: none;
  border: 1px solid rgb(63, 52, 39);
  padding: 5px 10px;
  margin-top: 10px;
}
footer .footer-right .fr-container .frc-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-right .fr-container .frc-bot ul {
  color: rgb(160, 160, 160);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
}/*# sourceMappingURL=index.css.map */